# --- Frontend (React) ---
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# --- Backend (.NET) ---
backend/bin/
backend/obj/
backend/ffmpeg-8.1.1-full_build/

# --- General ---
*.log
*.env
.DS_Store
.vscode/
# --- IDEs ---
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
